pandas
discord.py
aiohttp
cchardet
aiodns
TA-Lib
mplfinance
pandas
pandas_ta
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/twopirllc/pandas-ta
click
asyncclick
holidays
tdameritrade
python-dotenv